:root{
    --vermelho: #e50914;
    --roxo: #250335;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background: var(--roxo);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo{
    color: var(--vermelho);
    font-family: 'Arial Black',Times;
    font-size: 40px;
    margin-left: 10px;
}

header nav a{
    text-decoration: none;
    color: #aaaaaa;
    margin: 10px;
}

header nav a:hover{
    color: #fff;
}

/* filme principal */
.filme-principal{
  
   font-size: 16px;
   height: 450px;
   background: linear-gradient(rgba(0,0,0,.20), rgba(0,0,0,.20)100%), url("../img/capa.jpg");
   background-size: cover;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   padding-left: 10px;
   margin-bottom: 10px;
    
}

.filme-principal .titulo{
    margin-top: 19%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 30px;
    width: 50%;
    
}

.botao{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;
    font-size: 12px;
    padding: 15px 30px;
    margin-right: 15px;
    cursor: pointer;
}

.botao:hover{
    transition: 3s ease-all;
    background-color: white;
    color: rgb(20, 17, 17);
    font-weight: bold;
}

.botao i{
    margin-right: 5px;
}

.container {
    margin-left: 30px;
}

.box-filme{
    height: 100%;
    width: 100%;
}